.container-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  cursor: var(--custom-cursor) 10 10, auto;
}

.arrow-nav {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem;
}

.arrow-nav > .prev,
.arrow-nav .next {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: #000;
  color: white;
  border-radius: 0.25rem;
  border: none;
  cursor: var(--custom-pointer) 16 16, auto;

  transition: border-radius 352ms cubic-bezier(0.2, 0, 0, 1),
    transform 152ms cubic-bezier(0.2, 0, 0, 1);
}

.arrow-nav > .prev:hover,
.arrow-nav .next:hover {
  background-color: #fb5;
  color: #000;
  border-radius: 1rem;
  transform: scale(1.5);
}

.arrow-nav > .prev:active,
.arrow-nav .next:active {
  background-color: #fb5fb3;
  color: purple;
  border-radius: 1rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  transform: scale(0.8);
}
