* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans serif;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 8px;
  overflow: clip;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 640ms cubic-bezier(0.2, -0.2, 0.01, 1.2) allow-discrete;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px;
}

[data-control="slide"] li a {
  display: block;
  width: 32px;
  height: 8px;
  background: #fb5;
  border-radius: 8px;
  overflow: clip;
  transition: scale 352ms cubic-bezier(0.2, 0, 01);
}

[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  opacity: 1;
  transform: scale(1.15);
  background: #e54;
}
