@import "custom-controls.css";
@import "button-controls.css";
:root {
  --custom-pointer: url("data:image/svg+xml,%3Csvg width='33' height='26' viewBox='0 0 33 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6464 17.1356L2.15876 6.64789C1.32268 5.81179 1.32268 4.45622 2.15876 3.62012C2.99484 2.78409 4.3504 2.78409 5.18651 3.62012L10.2327 8.66636C9.39665 7.83025 9.39665 6.47469 10.2327 5.63866C11.0688 4.80255 12.4243 4.80255 13.2605 5.63866L14.0061 6.38434C13.179 5.54517 12.9327 3.94789 13.7651 3.1155C14.6012 2.27947 15.9567 2.27947 16.7928 3.1155L18.3066 4.62935C17.4706 3.79332 17.4706 2.43776 18.3066 1.60165C19.1427 0.765548 20.4983 0.765548 21.3344 1.60165L28.9037 9.17097C29.6066 9.87391 30.8142 11.3778 30.9109 14.894C30.9256 15.4292 31.1348 15.9437 31.5134 16.3222C32.3016 17.1105 32.3016 18.3886 31.5134 19.1768L26.5697 24.1206C25.9078 24.7823 24.8348 24.7823 24.173 24.1206C23.8136 23.7611 23.313 23.5858 22.8053 23.6118C21.1683 23.6955 17.8721 23.5404 16.413 22.7798C16.0798 22.606 15.7546 22.4013 15.3915 22.304L7.89886 20.2964C6.75674 19.9904 6.079 18.8164 6.38501 17.6743C6.69102 16.5322 7.86503 15.8544 9.00714 16.1604L10.8268 16.648L12.5315 17.3117C12.6399 17.3539 12.7287 17.2178 12.6464 17.1356Z' fill='black'/%3E%3Cpath d='M15.7253 14.9027C16.004 14.6242 16.4558 14.6242 16.7344 14.9027L21.2763 19.4445L21.325 19.4981C21.5537 19.7784 21.5374 20.1923 21.2763 20.4536C21.0149 20.7149 20.6011 20.7311 20.3208 20.5024L20.2671 20.4536L15.7253 15.9118C15.4468 15.6331 15.4467 15.1813 15.7253 14.9027Z' fill='white'/%3E%3Cpath d='M18.7527 11.8746C19.0313 11.5963 19.4832 11.5963 19.7619 11.8746L24.3037 16.4164L24.3524 16.47C24.5811 16.7502 24.5647 17.1642 24.3037 17.4255C24.0423 17.6868 23.6285 17.7031 23.3482 17.4743L23.2945 17.4255L18.7527 12.8837C18.4744 12.605 18.4741 12.1532 18.7527 11.8746Z' fill='white'/%3E%3Cpath d='M21.7801 8.84716C22.0588 8.56867 22.5106 8.5687 22.7893 8.84716L27.3311 13.389L27.3798 13.4426C27.6086 13.7229 27.5923 14.1368 27.3311 14.3981C27.0697 14.6594 26.6559 14.6756 26.3756 14.4469L26.3219 14.3981L21.7801 9.85629C21.5016 9.5776 21.5016 9.12579 21.7801 8.84716Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.8021 1.09675C18.9169 -0.0178445 20.7246 -0.017969 21.8394 1.09675L29.4086 8.66666C30.2316 9.48984 31.522 11.1639 31.6241 14.8741C31.6341 15.2379 31.776 15.5759 32.0178 15.8177C33.0848 16.8847 33.0848 18.6145 32.0178 19.6814L27.0746 24.6253C26.1342 25.5658 24.6093 25.5656 23.6688 24.6253C23.4638 24.4204 23.1647 24.3077 22.8415 24.3243C21.9859 24.368 20.7162 24.3495 19.4698 24.2225C18.2512 24.0983 16.9426 23.8609 16.0828 23.4127C15.6778 23.2015 15.4695 23.0636 15.2068 22.9932L7.71426 20.9854C6.19151 20.5773 5.28793 19.0125 5.69599 17.4896C6.10404 15.9669 7.6689 15.0633 9.19172 15.4714L10.258 15.7564L1.65387 7.15226C0.53945 6.03754 0.539446 4.23043 1.65387 3.11572C2.76865 2.00094 4.57633 2.00094 5.69111 3.11572L8.98962 6.41353C9.11476 5.94489 9.36069 5.50165 9.72835 5.13399C10.489 4.3734 11.5721 4.13174 12.5376 4.40919C12.5532 3.77198 12.7591 3.11249 13.2603 2.61115C14.2984 1.57311 15.9371 1.50137 17.0578 2.3965C17.1812 1.92043 17.4292 1.46966 17.8021 1.09675ZM20.8295 2.10658C20.2721 1.54923 19.3687 1.54923 18.8113 2.10658C18.2541 2.66402 18.254 3.56755 18.8113 4.12485L20.325 5.63856C20.6036 5.91723 20.6036 6.36901 20.325 6.64769C20.0462 6.92635 19.5945 6.92636 19.3158 6.64769L16.2884 3.62028C15.7311 3.06293 14.8268 3.06293 14.2695 3.62028C14.0472 3.84266 13.9269 4.2131 13.9733 4.67611C14.0196 5.1387 14.2267 5.59087 14.5148 5.88317C14.5165 5.88489 14.5179 5.88698 14.5196 5.88875L17.2976 8.66666C17.576 8.94535 17.5762 9.39719 17.2976 9.67579C17.0362 9.93708 16.6224 9.95332 16.3421 9.72458L16.2884 9.67579L12.7558 6.14312C12.1984 5.58588 11.2949 5.58589 10.7375 6.14312C10.1802 6.70044 10.1802 7.60396 10.7375 8.16139L14.2695 11.6941C14.5481 11.9728 14.5481 12.4244 14.2695 12.7032C13.9908 12.9818 13.539 12.9819 13.2603 12.7032L4.68197 4.12485C4.12458 3.56753 3.2211 3.56758 2.6637 4.12485C2.10631 4.68228 2.10631 5.5857 2.6637 6.14312L13.1509 16.631C13.7793 17.2593 13.1009 18.2989 12.2728 17.9768L10.6002 17.3258L8.82236 16.8499C8.061 16.6458 7.27854 17.0976 7.07449 17.859C6.87054 18.6203 7.32221 19.4028 8.08362 19.6069L15.5762 21.6147C16.0394 21.7388 16.4815 22.0109 16.7428 22.1471C17.342 22.4595 18.4114 22.6795 19.6148 22.8022C20.7905 22.922 21.9876 22.939 22.769 22.8991C23.4612 22.8637 24.164 23.1023 24.6779 23.6162C25.0609 23.999 25.6817 23.9989 26.0648 23.6162L31.0087 18.6723C31.5183 18.1627 31.5183 17.3365 31.0087 16.8269C30.4936 16.3117 30.2169 15.6202 30.1975 14.9138C30.1062 11.5927 28.9823 10.2588 28.3994 9.67579L20.8295 2.10658Z' fill='white'/%3E%3C/svg%3E%0A");
  --custom-cursor: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_190_39)'%3E%3Cpath d='M9.78774 8.79445L32.5413 31.7918L35.6293 28.6226L12.6726 5.70646L23.643 5.86899V1.84648H5.8465V19.7243H9.95027L9.78774 8.79445Z' fill='black'/%3E%3Cpath d='M10.7967 19.7117L10.6654 10.8851L31.9395 32.3871L32.546 33L33.1476 32.3826L36.2355 29.2133L36.8192 28.6143L36.2273 28.0235L14.7497 6.58385L23.6305 6.7154L24.4895 6.72809V5.86899V1.84649V1H23.643H5.84649H5V1.84649V19.7243V20.5708H5.84649H9.95026H10.8094L10.7967 19.7117Z' stroke='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_190_39' x='0.5' y='0.5' width='41.022' height='41.2137' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_190_39'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_190_39' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans serif;
  list-style: none;
}
body {
  cursor: var(--custom-cursor) 10 10, auto;
  background: #000;
}
img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 90vw;
  max-width: 800px;
  margin: 0 1.125rem;

  border-radius: 25rem;
  overflow: clip;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 352ms cubic-bezier(0.2, 0, 0, 1) allow-discrete;
}

.slide li:hover {
  border-radius: 10rem;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
  border-radius: 5rem;
  cursor: var(--custom-pointer) 10 10, auto;
}
.slide li.active:active {
  opacity: 1;
  transform: scale(0.95);
  border-radius: 5rem;
  cursor: var(--custom-pointer) 10 10, auto;
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px;
}

[data-control="slide"] li a {
  display: block;
  width: 32px;
  height: 8px;
  background: #fb5;
  border-radius: 8px;
  overflow: clip;
  transition: scale 352ms cubic-bezier(0.2, 0, 0, 1);
}

[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  opacity: 1;
  transform: scale(1.15);
  background: #e54;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
